<!doctype html>

<html>
<head>
    <title>No-Frills Recipe Database</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" /></head>
    <script src="{{ url_for('static', filename='firebase-config.js') }}"></script>
<body>

    
<!----- Main --->
<h1>No-Frills Recipe Database</h1>
    <header>Keep store and search your own private recipe database</header>
    <div id="firebaseui-auth-container"></div>
    <button id="sign-out" hidden=true>Sign Out</button>

    <p><script>foo();</script></p>
    {% if user_data %}
    <p>Welcome, {{ user_data['name'] }}</p>
    {% elif error_message %}
    <p>Error: {{ error_message }}</p>
    {% else %}
	<p>Figure out why it gets into the else block</p>
    <p><script>console.log(firebaseConfig());</script></p>
    {% endif %}

<!----- End Main ----->
    
    
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
<script src="{{ url_for('static', filename='firebase-config.js') }}"></script>
<script>
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig());
  firebase.analytics();
</script>
    
</body>
</html>
